.my-toast {
    margin-bottom: 0;
    position: absolute;
    top: 78px;
    right: 30px;
    z-index: 1;
    max-width: 360px;
    min-width: 360px;
}

.data-table {
    border-bottom: 0!important;
}